@media (max-width: 1000px) {
    .inner {
        height: 100vh;
        width: 100vw;
        margin: 0;
        background: #FFF;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 40px 55px 45px 55px;
        border-radius: 15px;
        transition: all .3s;
    }
}
@media (min-width: 1001px) {
    .inner {
        width: 700px;
        margin: auto;
        background: #FFF;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 40px 55px 45px 55px;
        border-radius: 15px;
        transition: all .3s;
    }
}


.outer {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    background: #bbdef0; /*old browsers */
    background: linear-gradient(to right, #bbdef0, #acd5ef, #9fcbee, #94c1ed, #8cb7eb, #82baf0, #77bcf4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    justify-content: center;
    flex-direction: column;
    text-align: left;

}

.outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}
.botao{
    margin-left: 10px;
    margin-right: 10px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}