.pesquisaForm {
    -webkit-box-shadow: 0 0 6px 2px #264653;
    box-shadow: 0 0 3px 2px #264653;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-radius: 10px;

}

.desc {
    font-size: 16px;
    /*color: #999;*/
    display: block;
    margin-bottom: 26px;
    font-weight: bold;
}

.pesquisaAvancada {
    padding: 0 15px 30px;
}
.contador{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
}
.titulo{
    font-size: 25px;
    font-weight: bold;
}

